@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Manrope:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

.App {
  min-height: 100vh;
  background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
  font-family: "Manrope", sans-serif;
}
.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar {
  width: 40%;
  border: none;
  padding: 1.2rem 1rem;
  font-size: 1.4rem;
  border-radius: 16px;
  position: absolute;
}
.search-bar:focus,
.search-bar:active {
  outline: none;
}
.search-button {
  padding: 1rem 2rem;
  border-radius: 16px;
  border: none;
  background-image: linear-gradient(to top, #ebbba7 0%, #cfc7f8 100%);
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
  position: relative;
  right: -20%;
}
.recipes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 4.8rem 2.4rem;
  gap: 4rem;
}
.recipe {
  justify-self: center;
  background-color: rgba(255, 255, 255, 0.582);
  padding: 2.4rem 3.6rem;
  position: relative;
  max-width: 38rem;
  overflow: hidden;
}
.title {
  font-size: 2.4rem;
  text-align: center;
  margin: 1.5rem;
}
.image {
  width: 100%;
}
.ingredients {
  margin: 1.6rem;
  list-style: none;
}
.vegan::after {
  content: "Vegan";
  padding: 0.6rem 5rem;
  background-color: rgb(122, 172, 30);
  position: absolute;
  top: 1.6rem;
  right: -3.1rem;
  transform: rotate(45deg);
  color: white;
}
.ingredients {
  font-size: 1.4rem;
  list-style-type: disc;
}
.calories {
  margin: 1.8rem 1.6rem;
  display: inline-block;
  position: relative;
  color: orangered;
  font-weight: 600;
}
.low-calories::after {
  content: url("./assets/kcal.png");

  transform: scale(0.1);
  position: absolute;
  top: -12.6rem;
  left: -5rem;
}
/* 780px */
@media (max-width: 48.75em) {
  html {
    font-size: 56.25%;
  }
  .recipe {
    padding: 2.4rem 2.6rem;
  }
  .low-calories::after {
    top: -14rem;
    left: -6rem;
  }
}
/* 729.6px */
@media (max-width: 45.6em) {
  .recipes {
    grid-template-columns: repeat(1, 1fr);
  }
  .recipe {
    padding: 2.4rem;
  }
}
/* 464px */
@media (max-width: 29em) {
  html {
    font-size: 50%;
  }
  .low-calories::after {
    top: -16rem;
    left: -7rem;
  }
}
/* 380px */
@media (max-width: 23.75em) {
  .search-bar {
    width: 60%;
  }
}
